.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
}

.heading h2{
    font-size: 2.8vw;
    letter-spacing: -2px;
}

.heading h2 span:first-child{
    color: red;
    font-size: 4.5vw;
}

.heading span{
    display: inline-block;
}